*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #f9f9f9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding-right: 20px; /* Añade espacio a la derecha del contenedor */
}

.for-complete, .complete{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
h1{
  color: black;
  margin: 5px;
  padding: 5px;
}
h2{
  color: black;
  margin: 5px;
  padding: 5px;
}


.header-not-completed, .header-completed{
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
  flex-direction: row;
  align-items: center;
}

.header-not-completed button, .header-completed button{
  width: 40px;
  height: 20px;
  margin: 5px;
}
.task-info {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;  
}

.task-container {
  position: relative;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 150px;
  margin: 20px;
}

p {
  font-size: 19px;
  color: #333;
  padding: 2px;
}

.dropdown {
  position: relative;
}

.menu-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  padding:0;
  margin-right: 10px;
  margin-top: 5px;
  top: 0;
  right: 0;
}

.menu-btn:hover{
  opacity: 0.8;
}

.dropdown-content {
  position: absolute;
  top: 25px;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 10;
}

.dropdown-content button, .checkbox-button {
  padding: 10px 20px;
  text-align: left;
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.checkbox-button {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background-color: #fff;
  color: #2aa8de;
  user-select: none;
}

.dropdown-content button:hover, .checkbox-button:hover {
  background-color: #f1f1f1;
}


.edit-btn {
  color: #4CAF50;
}

.delete-btn {
  color: #f44336;
}

.hidden{
  display: none;
}

.visible{
  display: block;
}

.edit-info-container, .visualize-task-info-container{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
  z-index: 100;
}

.form-container{
  position: fixed;
  padding: 35px;
  background-color: white;
  justify-content: center; 
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.visualize-task-info{
  position: fixed;
  width: 60%;
  height: 100%;
  background-color: white;
  justify-content: center; 
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: 20;
}

.form-container :nth-child(), .visualize-task-info :nth-child(){
  text-align: center;
}
.form-container button, .visualize-task-info button {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin: 5px;
}
#editNameForm h2{
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

#editNameForm{
  justify-content: left; 
  align-items: left;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

#editNameForm input, select{
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-left: 2px;
  width: 300px;
}

.close-edit, .close-visualize{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0056b3
}

.hide{
  display: none;
}

textarea {
  width: 300px;
  height: 100px; 
  resize: none; 
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-left: 2px;
}

.visualize-task-info {
  width: 60%;
  height: 100%;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.visualize-task-info p {
  margin: 10px 0;
}

.close-visualize {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #ff0000;
}

.close-visualize:hover {
  color: #ff4d4d;
}

.buttons button {
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.add-task-button {
  background-color: #4CAF50;
}

.add-task-button:hover {
  background-color: #45a049;
}

.order-by-date-button {
  background-color: #6082f0;
}

.order-by-date-button:hover {
  background-color: #506bc6;
}

/* Estilos generales */
.add-task-info-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.task-form{
  position: fixed; /* Fija la posición del formulario */
  background-color: #ffffff; /* Color de fondo blanco */
  border-radius: 8px; /* Bordes redondeados */
  width: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  z-index: 1000; /* Asegura que esté encima de otros elementos */
  padding: 20px; /* Espaciado interno */
}

/* Títulos del formulario */
.add-task-info-container h2 {
  color: #333;
  margin-bottom: 15px;
}

/* Estilos de los inputs y textarea */
.task-form input,
.task-form textarea,
.task-form select {
  width: 95%; /* Ancho completo */
  height: 40px; /* Altura uniforme */
  margin-bottom: 15px; /* Espacio inferior */
  border: 1px solid #ccc; /* Borde gris */
  border-radius: 5px; /* Bordes redondeados */
  padding: 0 10px; /* Espaciado interno */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo para el botón de crear tarea */
.add-task-info-container button {
  background-color: #007bff; /* Color de fondo azul */
  color: #ffffff; /* Texto blanco */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  cursor: pointer; /* Cambia el cursor */
  transition: background-color 0.3s; /* Transición suave */
}

.add-task-info-container button:hover {
  background-color: #0056b3; /* Color de fondo más oscuro al pasar el mouse */
}

/* Botón de cerrar */
.close-add-task {
  position: absolute; /* Posición absoluta */
  top: 10px; /* Desde la parte superior */
  right: 10px; /* Desde la derecha */
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
  font-size: 20px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor */
}

/* Animación para mostrar el formulario */
.show {
  display: flex; /* Muestra el formulario como flex */
}

.date-filter-container {
  display: none; /* Oculto inicialmente */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 2px solid #ccc;
  z-index: 100;
}

.date-filter-container.show {
  display: block; /* Mostrar cuando tenga la clase 'show' */
}

.difficulty-filter-container,  .priority-filter-container {

  display: none; /* Oculto inicialmente */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 2px solid #ccc;
  z-index: 100;
}

.difficulty-filter-container.show ,  .priority-filter-container.show {
  display: block; /* Mostrar cuando tenga la clase 'show' */
}

.order-by-difficulty-button {
  background-color: #7734ff;
}

.order-by-difficulty-button:hover {
  background-color: #602acc;
}

/* Estado normal del botón */
.order-by-difficulty-button.normal {
  background-color: #7734ff; /* Color de fondo inicial */
  color: white; /* Color de texto inicial */
}

/* Estilo del hover para el botón en estado normal */
.order-by-difficulty-button.normal:hover {
  background-color: #602acc;
  color: white; /* Color de texto al hacer hover */
}

.order-by-difficulty-button.alta {
  background-color: red;
  color: white;
}

.order-by-difficulty-button.alta:hover {
  background-color: rgb(163, 0, 0);
  color: white;
}

.order-by-difficulty-button.media {
  background-color: yellow;
  color: black;
}

.order-by-difficulty-button.media:hover {
  background-color: rgb(193, 193, 0);
  color: black;
}

.order-by-difficulty-button.baja {
  background-color: green;
  color: white;
}

.order-by-difficulty-button.baja:hover {
  background-color: rgb(0, 100, 0);
  color: white;
}

.order-by-priority-button {
  background-color: #ff9d34;
}

.order-by-priority-button:hover {
  background-color: #da872f;
}

.insights-button{
  background-color: #3498db;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.insights-button a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}