*{
    margin: 0;
    padding: 0;
  }
  
  body{
    background-color: #f9f9f9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding-right: 20px; /* Añade espacio a la derecha del contenedor */
  }
  
  h1{
    color: black;
    margin: 5px;
    padding: 5px;
  }
  h2{
    color: black;
    margin: 5px;
    padding: 5px;
  }
  
  nav {
    margin: 20px 0;
    text-align: center;
  }
  
  /* Estilos para la lista de navegación */
  .nav-list {
    list-style-type: none;
    padding: 0;
  }
  
  .nav-list li {
    display: inline-block;
    margin: 0 10px;
  }
  
  /* Estilos para los enlaces, que se verán como botones */
  .nav-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF; /* Color azul */
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Efecto hover para los botones */
  .nav-button:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el ratón */
  }